body,
html,
#root {
  height: 100%;
}

html {
  font-size: 18px;
}

h1 {
  padding: 1.2rem 0;
  background-color: #78668c;
  text-align: center;
  font-family: 'arial black',sans-serif;
  font-size: 2.88rem;
  color: #fff;
}

h1 .highlight {
  color: #cac3d2;
}

h2 {
  width: 100%;
  padding-top: 1.57rem;
  background: transparent;
  border-bottom: 1px solid #ffffff6e;
  font-family: 'Poppins', sans-serif;
  font-size: 1.55rem;
  color: #fff;
  text-align: center;
}

.App {
  height: 100%;
  padding: 0 17% 10% 17%;
  background-image: url('./background-so.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: 'Work Sans', sans-serif;
  font-weight: 500;
  color: #fff;
}

.App-playlist {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

@media only screen and (max-width: 1020px) {
  .App-playlist {
    align-items: center;
    flex-direction: column;
  }
}