.Playlist {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
    width: 500px;
    max-height: 950px;
    padding: 2.27rem 1.16rem;
    background-color: rgb(67 54 97 / 59%);
    box-shadow: 0 4px 2px 2px #00000036;
  }
  
  .Playlist input {
    width: 100%;
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid #ffffff6e;
    font-family: 'Poppins', sans-serif;
    font-size: 1.55rem;
    color: #fff;
    text-align: center;
  }
  
  .Playlist-save {
    cursor: pointer;
    width: 287px;
    padding: 0.77rem 0;
    border-radius: 15px;
    border-width: 0px;
    margin-top: 1.27rem;
    background-color: #a79dbf;
    text-align: center;
    font-size: .83rem;
    transition: background-color .25s;
    color: #fff;
    font-weight: 500;
  }
  
  .Playlist-save:hover {
    background-color: rgba(102, 88, 141, 0.7);
  }
  
  ::-webkit-scrollbar {
      width: 0px;
      background: transparent;
  }
  
  @media only screen and (max-width: 1020px) {
    .Playlist {
      width: 90%;
    }
  }